<!DOCTYPE html>

<html>
  <head>
    <title>Cокращение URL адреса</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>API проект: Микросервис, сокращающий URL адреса</h2>
      <h3>Задание:</h3>

      <ol>
        <li>
          Если на этой странице из нижеприведенной формы отправить POST запрос c
          URL-адресом, например, <code>https://www.google.com</code> то в ответе
          получится сокращенный URL-адрес в формате JSON.<br />Например:
          <code>{"original_url":"https://www.google.com","short_url":1}</code>
        </li>
        <li>
          Если ввести недопустимый URL-адрес, который не соответствует формату
          <code>http(s)://www.example.com(/more/routes)</code>, ответ в формате
          JSON будет содержать следующую ошибку
          <code>{"error":"invalid URL"}</code><br />
          Пояснение: для проверки отправленного url-адреса на, допустимое имя
          сайта, используется функция <code>dns.lookup(host, cb)</code> из
          основного модуля <code>dns</code>.
        </li>
        <li>
          Если посетить сокращенный URL, то микросервис делает перенаправление
          на исходную ссылку.
        </li>
      </ol>

      <h3>Создание коротких URL-адресов</h3>
      <p>
        В форму ниже введите URL-адрес. Обязательно укажите протокол http:// или
        https://, иначе будет ошибка. Например:
        <code>https://www.google.com</code>. А затем нажмите кнопку POST URL.
      </p>
      <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL будет сокращен</label>
        <input
          id="url_input"
          type="text"
          name="url"
          value="https://www.freecodecamp.org"
        />
        <input type="submit" value="POST URL" />
      </form>
      <h3>Пример использования:</h3>
      <p>
        Если вы введете в адресную строку браузера нижеприведенную ссылку
      </p>
      <a href="https://url-shortener-injashkin.glitch.me/api/shorturl/3">
        https://url-shortener-injashkin.glitch.me/api/shorturl/3
      </a>

      <h3>Вы будете перенаправлены на:</h3>
      <p>https://www.freecodecamp.org/forum/</p>
    </div>
    <div class="footer">
      <p>by <a href="https://jinv.ru">jinv.ru</a></p>
    </div>
  </body>
</html>
